name: Ruff

on: [push]

jobs:
  ruff:
    name: Ruff lint check
    runs-on: ubuntu-latest
    steps:
      - name: Check out Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Install dependencies
        run: uv sync

      - name: Run ruff check
        run: uv run ruff check .
